.contact-with-us-sec{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 100px;
    padding: 150px 0px 150px 0px;
}
.contact-with-us-inner-right-sec{
    width: 100%;
}
.contact-with-us-top-inner{
    font-weight: 700;
    font-size: 16px;
    background-color: #64ab4530;
    padding: 10px 20px;
    padding: 9px 22px;
    color: #63ab45;
    border-radius: 6px;
    display: inline-block;
}
.contact-top-desc-sec{
    font-size: 48px;
    letter-spacing: -0.6px;
    font-weight: 700;
    line-height: 1.22;
    color: #1c231f;
    padding-top: 20px;
}
.contact-desc-sec{
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0px 0px 0px;
    color: #82828a;
}
.contact-social-icons-sec{
    display: flex;
    gap: 10px;
    padding: 30px 0px 0px 0px;
}
.contact-social-icons-sec a{
    background-color: #EDEDED;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px 12px;
}
.form-container {
  max-width: 600px;
  border-radius: 10px; 
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
}

.form-field {
  display: flex;
  flex-direction: column; 
}


.contact-form-input, #message {
  padding: 15px;
  border: 0px;
  border-radius: 5px; 
  width: 100%;
  box-sizing: border-box; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
  font-size: 16px; 
  background-color: #f9f9f9; 
}

#message {
    min-height: 40px;
    height: 120px;
    max-height: 180px;
    resize: vertical;
  }

.contact-form-input::placeholder, #message::placeholder {
  color: #aaa; 
  font-style: italic;
}

.contact-form-input:focus, #message:focus {
  box-shadow: 0 0 5px rgb(72, 106, 78); 
  outline: none; 
}

.error {
  color: #e74c3c;
  font-size: 0.875em; 
}

.submit-button {
  padding: 12px 20px;
  background-color: #63ab45;
  color: white; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s; 
  font-size: 16px; 
  grid-column: span 2; 
}

.submit-button:hover {
  background-color: #218838; 
}

.full-width {
  grid-column: span 2; 
}

@media screen  and (max-width: 900px){
    .contact-with-us-sec{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr; 
  }

  .submit-button {
    grid-column: span 1; 
  }
}
