.places-main{
    display: flex;
    flex-direction: column;
}

.place-results-sec{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
}
.place-results-sec-inner{
    display: flex;
    width: 80%;
    gap: 30px;
}
.place-results-sec-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}