.dropdown-line{
    margin: 0px 22px 0px 15px;
    padding: 0px 0px 0px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #e2dfeb;
}
.search-user-sec{
    display: flex;
    align-items: center;
}
.name-logo{
    color: #4b8333 !important;
    font-weight: 700;
    font-size: 25px;
}